<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/index.css">
    <title>XML A PDF</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-11 mx-auto vh-100">
                <div class="row banner shadow rounded h-90 overflow-hidden">
                    <div class="col-lg-6 p-5 bg-white">
                        <h1 class="text-blue">XML A PDF</h1>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <div class="drag-area text-center my-3 p-5">
                                <h5 class="" id="nameFile">Arrastra y suelta archivos</h5>
                                <h6>o</h6>
                                <label for="formFile" class="btn btn-secondary">Selecciona tus archivos</label>
                                <input class="form-control mx-auto" type="file" id="formFile" name="xml" accept=".xml, .XML, .zip, .ZIP" required >
                            </div>
                            <div class="alert alert-light hiddenAlertBox" id="boxAlert" role="alert">
                                <span><img src="./assets/img/xml.png" id="imgAlert" alt=""></span>
                                <span id="textAlert">A simple light alert—check it out!</span>
                              </div>
                            <div class="col-auto  d-grid gap-2 my-3">
                                <button type="submit" class="btn btn-primary mb-3">Convertir</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 image p-0 d-none d-lg-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/bootstrap.bundle.min.js" type="application/js"></script>
    <script src="./assets/js/dragAndDrop.js"></script>
</body>
</html>